version: 2.1
orbs:
  python: circleci/python@1.5.0
  docker: circleci/docker@2.2.0
jobs:
  django-test:
    docker:
      - image: cimg/python:3.10.1
      - image: cimg/mysql:8.0
        command: --default-authentication-plugin=mysql_native_password
        environment:
          MYSQL_DATABASE: mysite
          MYSQL_HOST: localhost
          MYSQL_USER: siteuser
          MYSQL_PASSWORD: chungtrinh1904
          MYSQL_ROOT_PASSWORD: chungtrinh1904
    steps:
      - checkout
      - run:
          name: reset pass word
          command: docker run --rm -d \
            -e MYSQL_ROOT_PASSWORD=chungtrinh1904 \
            -v /my/own/datadir:/var/lib/mysql \
            mysql:tag --init-file /mysql-init.sql
      - run:
          name: install dependencies
          command: pip install -r requirements.txt
      - run:
          name: run tests
          command: python manage.py test --noinput --keepdb

  build-and-push:
    environment:
      DOCKER_IMAGE: trinhchung/cicd
      DOCKER_TAG: 0.0.1
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check:
          docker-username: DOCKER_USER
          docker-password: DOCKER_PASSWORD
      - docker/build:
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      - docker/push:
          digest-path: /tmp/digest.txt
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG

      - run:
          command: |
            echo "Digest is: $(</tmp/digest.txt)"
workflows:
  build-deploy:
    jobs:
      - django-test
      - build-and-push:
          requires:
            - django-test
          filters:
            branches:
              only:
                - circleci-project-setup
