version: 2.1
orbs:
  python: circleci/python@1.5.0
  docker: circleci/docker@2.2.0

jobs:
  django-test:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Install Docker Compose
          environment:
            COMPOSE_VERSION: "2.15.1"
          command: |
            sudo apt update
            sudo apt install apt-transport-https ca-certificates curl software-properties-common
            curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
            sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable"
            apt-cache policy docker-ce
            sudo apt install docker-ce docker-compose-plugin
            sudo usermod -aG docker ${USER}
      - run:
          name: Start container and verify it's working
          command: |
            docker-compose up -d
      - run: |
          docker ps
          docker network ls
      - run:
          name: wait container mysql
          command: |
            echo "Waiting for MYSQL"
            while ! nc -vz localhost 3306
            do
              sleep 1
              echo "."
            done
            echo "connect success"
      - run:
          name: "migrate and seed"
          command: |
            docker-compose run my-django ./manage.py makemigrations
            docker-compose run my-django ./manage.py migrate
            docker-compose run my-django ./manage.py loaddata seeder.json
      - run:
          name: "create static file"
          command: |
            docker-compose run my-django ./manage.py collectstatic --no-input --clear
      - run:
          name: "create static file"
          command: |
            docker-compose run my-django ./manage.py test
  build-and-push:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout
      - run: docker ps
  # django-deploy:
  #   machine:
  #     image: ubuntu-2004:current
  #   steps:
  #     - checkout
  #     - add_ssh_keys:
  #         fingerprints:
  #           - "e1:3a:af:10:f6:b9:b2:6a:27:57:a0:00:95:ff:5a:c8"
  #     - run:
  #         name: deploy to vps
  #         command: |
  #           ssh ${USER_NAME}@${HOST_NAME} -p ${SSH_PORT} 'cd mysite && git pull origin main && docker-compose restart && docker-compose run python ./manage.py migrate'

workflows:
  build-deploy:
    jobs:
      - django-test
      - build-and-push:
          requires:
            - django-test
      #     filters:
      #       branches:
      #         only:
      #           - circleci-project-setup
