{% load bootstrap5 %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Local Library</title>
    {% endblock title %}
    <meta charset="utf-8"
          name="viewport"
          content="width=device-width, initial-scale=1" />
    <meta name="description" />
    <meta name="keywords" />
    {% bootstrap_css %}
    <!-- Add additional CSS in static file  -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          {% block nav %}
            {% include "navbar.html" %}
          {% endblock nav %}
        </div>
      </div>
      <div class="row pl-20">
        <div class="col-sm-10">
          <div class="row ">
            {% block content %}
            {% endblock content %}
          </div>
          <div class="row">{% include "pagination.html" %}</div>
        </div>
      </div>
    </div>
  </body>
</html>
