{% load static %}
{% load i18n %}
<script type="text/javascript" src="{% static 'js/action_navbar.js' %}"></script>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="{% url 'index' %}">Logo</a>
    </div>
    <nav>
      <ul class="nav-list">
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'index' %}">About</a>
        </li>
        <li>
          <a href="{% url 'index' %}">Services</a>
          <ul class="navbar-dropdown">
            <li>
              <a href="{% url 'index' %}">Sass</a>
            </li>
            <li>
              <a href="{% url 'index' %}">Less</a>
            </li>
            <li>
              <a href="{% url 'index' %}">Stylus</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{% url 'index' %}">Portfolio</a>
        </li>
        <li>
          <a href="{% url 'index' %}">Category</a>
          <ul class="navbar-dropdown">
            <li>
              <a href="{% url 'index' %}">Sass</a>
            </li>
            <li>
              <a href="{% url 'index' %}">Less</a>
            </li>
            <li>
              <a href="{% url 'index' %}">Stylus</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="box-select">{% include "select_language.html" %}</div>
  </div>
</section>
<script>
  document
    .getElementById("language-select")
    .addEventListener("change", function () {
      document.getElementById("language-form").submit();
    });
</script>
