{% load static %}
{% load i18n %}
<script type="text/javascript" src="{% static 'js/action_navbar.js' %}"></script>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="{% url 'index' %}">Logo</a>
    </div>
    <nav>
      <ul class="nav-list">
        <li>
          <a href="{% url 'index' %}">{% trans "Home" %}</a>
        </li>
        <li>
          <a href="{% url 'books' %}">{% trans "Book" %}</a>
        </li>
        <li>
          <a href="{% url 'authors' %}">{% trans "Author" %}</a>
        </li>
        <li>
          <a href="#!">{% trans "Manage" %}</a>
          <ul class="navbar-dropdown">
            {% if perms.catalog.view_list_on_loan %}
              <li>
                <a href="{% url 'bookinst-manage' %}">{% trans "Manage Book Instance" %}</a>
              </li>
            {% endif %}
            {% if perms.catalog.add_author %}
              <li>
                <a href="{% url 'author-create' %}">{% trans "Create Author" %}</a>
              </li>
            {% endif %}
            <li>
              <a href="{% url 'index' %}">Stylus</a>
            </li>
          </ul>
        </li>
        {% if user.is_authenticated %}
          <li>
            <a href="#">{% trans "Name" %}: {{ user.get_username }}</a>
            <ul class="navbar-dropdown">
              <li>
                <a href="{% url 'my-borrowed' %}">{% trans "My Borrowed" %}</a>
              </li>
              <li>
                <a href="{% url 'logout' %}?next={{ request.path }}">{% trans "Logout" %}</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <div class="box-select">{% include "select_language.html" %}</div>
  </div>
</section>
<script>
  document
    .getElementById("language-select")
    .addEventListener("change", function () {
      document.getElementById("language-form").submit();
    });
</script>
