{% extends "base_generic.html" %}
{% block content %}
  {% load i18n %}
  <h1>{% trans "Author List" %}</h1>
  {% if author_list %}
    <ul>
      {% for author in author_list %}
        <li>
          <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
          <!-- ({{book.author}}) -->
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans "There are no authors in the library." %}</p>
  {% endif %}
{% endblock %}
